body {
  background-color: #282c34;
}



.fa-bitcoin {
  font-size: 60px;
  background-color: white;
  color: rgb(250, 154, 0);
  border-radius: 50%;
  transform: rotate(130deg);
}

h1 {
  font-weight: lighter;
}

.container-crypto {
  background-color: white;
  width: 40%;

  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.header-crypto {
  background-color: #282c34;
  padding: 10px;
  flex-basis: 90%;
}

.crypto-filter-container {
  margin: 15px auto;
  flex-basis: 90%;
}



.inp-crypto-filter {
  height: 35px;
  outline: none;
  background-color: white;
  border-style: solid;
  border-radius: 3px;
  padding-left: 10px;

}

.inp-crypto-filter:hover {
  border-color: turquoise;
}

.crypto-list {
  flex-basis: 90%;

}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}